src/*.exe
src/corecoin
src/corecoind
src/test_corecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.corecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
corecoin-qt
Corecoin-Qt.app

# Unit-tests
Makefile.test
corecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
